/* movies.css */

.filter-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  justify-content: space-between;
  padding: 10px;
  background-color: black; /* Example background color */
  color: white;
  margin-left: 100px;
  
}

.search-bar {
  flex-basis: 100%; /* Take up full width on the first line */
  margin-bottom: 10px; /* Add some space between search bar and other inputs */
}

.year-filter {
  display: flex;
  gap: 10px; /* Add some space between the year filter inputs */
}

input,
select {
  width: 150px;
  flex: 1; /* Distribute available space among the inputs and select */
  margin-right: 10px; /* Add some space to the right of each input */
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Add some space between genres */
}

/* Add any additional styling for Tag component if needed */
/* movies.css */

/* Add styles for the movie card container */
.movie-card-container {
  border: 1px solid #ddd; /* Add border for separation */
  margin: 10px; /* Add margin to create space between movie cards */
  padding: 10px; /* Add padding for better visual appearance */
  width: 200px; /* Set a fixed width for each movie card */
  display: inline-block; /* Display movie cards in a row */
  vertical-align: top; /* Align movie cards to the top of the container */
}

/* Add styles for other elements within the movie card if needed */
.movie-card-container h3 {
  margin-bottom: 5px;
}

.movie-card-container p {
  margin-bottom: 10px;
}

.movie-card-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.movie-card-container ul li {
  margin-bottom: 5px;
}

.icon-container {
  margin-top: 10px;
}

/* Add styles for the active state of icons if needed */
.icon-container .active {
  color: red; /* Change the color to indicate the active state */
}
