/* navigation.css */

nav {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  padding: 10px;
  background-color: #161616; /* Example background color */
  color: white;
}

img {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  border-radius: 50%; /* Make the image a circle */
  margin-right: 10px; /* Add some space to the right of the image */
}

p {
  margin-right: auto; /* Push the welcome text to the left */
}

span {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #555; /* Example background color for the logout button */
  color: white;
  border-radius: 5px;
}

.icon {
  margin-right: 5px; /* Add some space to the right of the icon */
}

/* navigation.css */

/* navigation.css */


/* navigation.css */


/* navigation.css */

/* navigation.css */

/* navigation.css */

/* navigation.css */

/* navigation.css */





